$main-color: #dbdb1eef;
$secondary-color: #e3ce15c1;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #bd259a;

$light-blue-gradient: linear-gradient(45deg, rgba(78, 255, 8, 0.641), rgba(86, 255, 8, 0.175));
$blue-gradient: linear-gradient(45deg, rgba(255, 255, 0, 0.7), rgba(134, 125, 0, 0.3));
$purple-gradient: linear-gradient(45deg, rgba(214, 115, 10, 0.644), rgba(255, 55, 0, 0.036));
$blue-gradient-solid: linear-gradient(45deg, rgb(225, 203, 39), rgb(234, 232, 94));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
